*{
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.image_container{
  background-image: url(glacier.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
  width: 40%;
  height: 80vh;
  padding-top: 155px;
  border-radius: 10px;
}
.center_tag{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 95%;
  height: 10vh;
}